version: "3.9"

services:
  sfu:
    build:
      context: .
      dockerfile: Dockerfile
    image: media-server:latest
    container_name: media-server-sfu
    restart: unless-stopped
    network_mode: host
    ports:
      - "50051:50051/tcp"
      - "3478-3482:3478-3482/udp"
    command: [
      "/app/sfu-server",
      "-f",
      "--enable-transcription",
      "--transcription-servers 192.168.3.100:43007"
    ]
